/* Integrate font type: Raleway from Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand");
body {
  background-color: #F6F6F6;
}

.logo-menu {
  border: solid 2px lime;
  display: flex;
  align-items: center;
}

.arrow-icon {
  margin-right: auto;
  align-items: center;
  position: relative;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header .logo {
  padding: 1rem;
}
header .logo .logo-img {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.location {
  background-color: #EAEAEA;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.location .search-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.location .icon-in-location {
  margin-left: auto;
}
.location .searchFormSearchinput {
  padding: 0 1.5rem;
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Roboto";
  color: black;
  border: 0;
  margin-right: auto;
  background-color: #EAEAEA;
}

.introduction {
  background-color: #F6F6F6;
  padding: 1rem;
  text-align: center;
}

.oval-button {
  display: inline-block;
  border-radius: 1.2rem;
  background-image: linear-gradient(180deg, #ff79da, #9356dc);
  color: white;
  border: 0;
  padding: 1rem;
  font-weight: bold;
  box-shadow: #7e7777 0 0 2px 2px;
}

.icon-in-functioning-section {
  padding: 1rem;
}

.functioning .steps-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 20px;
}
.functioning .step {
  display: flex;
  align-items: center;
  height: 90px;
  counter-increment: indicate-number;
  border-radius: 1rem;
  background-color: #F6F6F6;
  margin-left: 15px;
}
.functioning .step-number {
  position: relative;
  left: -10px;
  width: 20px;
  background-color: purple;
  border-radius: 50%;
  text-align: center;
  color: white;
}

.restaurants {
  display: flex;
  flex-flow: column nowrap;
  padding: 5%;
  gap: 20px;
}

.restaurant-card {
  height: 15rem;
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  border: solid 2px red;
}

.restaurant-card-cover {
  border: solid 2px blue;
  width: 100%;
  height: 100%;
  margin: 0;
}

.restaurant-image {
  height: 70%;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}

.restaurant-label {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.restaurant-caption {
  display: flex;
  flex-flow: row nowrap;
}

.restaurant-caption-text {
  display: block;
  width: 80%;
  margin-right: auto;
  border: solid 2px green;
}
.restaurant-caption-text h5 {
  margin: 0 0 10px 0;
}

.heart-icon {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  border: solid 2px brown;
  margin-left: auto;
}
.heart-icon :hover {
  color: #9356dc;
}
.footer {
  background-color: #353535;
}
.footer .footer-container {
  display: flex;
  flex-direction: column;
}
.footer .footer-logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
}
.footer .footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listElt {
  margin: 0.5rem 0;
}
.footer__listElt:first-child {
  margin-top: 0;
}
.footer__listElt:last-child {
  margin-bottom: 0;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
